@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Here's a list of the technologies used:</p>
<ul>
    <li>.Net Core</li>
    <li>EF Core</li>
    <li>Razor Pages</li>
    <li>Xunit, FakeItEasy, AutoBogus</li>
    <li>Sqlite, PostgreSQL</li>
    <li>html</li>
    <li>3-tier Architecture</li>
</ul>
